<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ficha matricula</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <img src="/imgs/logo_tepsur.png" alt="logo_tepsur" />
            </div>
            <div class="title"><h2>FICHA DE MATRICULA</h2></div>
            <div class="foto">
                <span>FOTO</span>
            </div>
            <!-- Datos del estudiante -->
            <div>
                <span id="year"></span>
            </div>
            <table border="1">
                <tr>
                    <td class="header-table">Apellido Paterno</td>
                    <td class="header-table">Apellido Materno</td>
                    <td class="header-table">Nombres</td>
                    <td class="header-table" colspan="2">Sexo</td>
                </tr>
                <tr>
                    <td><%= alumno.ape_paterno %></td>
                    <td><%= alumno.ape_materno %></td>
                    <td><%= alumno.nombres %></td>
                    <td><%= alumno.sexo.toUpperCase() %></td>
                </tr>
                <tr>
                    <td class="header-table">Direccion: (Av,Jr,Calle)</td>
                    <td colspan="3">
                        <%= alumno.direccion.direccion_exacta %>
                    </td>
                </tr>
                <tr>
                    <td class="header-table">Distrito</td>
                    <td class="header-table">Provincia</td>
                    <td class="header-table" colspan="2">Departamento</td>
                </tr>
                <tr>
                    <td><%= alumno.direccion.distrito %></td>
                    <td><%= alumno.direccion.provincia %></td>
                    <td colspan="3"><%= alumno.direccion.departamento %></td>
                </tr>
            </table>
            <table border="1">
                <tr>
                    <td class="header-table">Edad</td>
                    <td class="header-table">Grado instruccion</td>
                    <td class="header-table">Documento de identidad</td>
                </tr>
                <tr>
                    <td><%= alumno.edad %></td>
                    <td><%= alumno.grado_estudios.descripcion %></td>
                    <td><%= alumno.dni %></td>
                </tr>
                <tr>
                    <td class="header-table">Lugar de residencia</td>
                    <td class="header-table">Celular</td>
                    <td class="header-table">Correo</td>
                </tr>
                <tr>
                    <td><%= alumno.lugar_residencia || "-" %></td>
                    <td><%= alumno.celular %></td>
                    <td><%= alumno.correo %></td>
                </tr>
            </table>

            <table border="1">
                <tr>
                    <td class="header-table">Carrera</td>
                    <td colspan="4"><%= carrera.nombre %></td>
                </tr>
                <tr>
                    <td class="header-table">Sede</td>
                    <td colspan="5"><%= sede.nombre %></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <table border="1">
                            <tr>
                                <td class="header-table">Modulo</td>
                                <td class="header-table">Modalidad</td>
                                <td class="header-table">Horario</td>
                                <td class="header-table">Fecha inicio</td>
                            </tr>
                            <% if (matriculaModulosModulo.length>0) { %>
                            <tr>
                                <td>
                                    <%= matriculaModulosModulo[0].modulo.nombre
                                    %>
                                </td>
                                <td>
                                    <%= matriculaModulosModulo[0].modalidad %>
                                </td>
                                <td>
                                    <%=
                                    matriculaModulosModulo[0].horario.hora_inicio
                                    + " " +
                                    matriculaModulosModulo[0].horario.hora_fin
                                    %>
                                </td>
                                <td>
                                    <%= new
                                    Date(matriculaModulosModulo[0].fecha_inicio).toLocaleString().split(",")[0]
                                    %>
                                </td>
                            </tr>
                            <% } else { %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <% } %>
                        </table>
                    </td>
                </tr>
            </table>
            <table border="1" style="margin-top: 20px">
                <tr>
                    <td class="header-table" colspan="5">Pago de matricula</td>
                </tr>
                <tr>
                    <td class="header-table">Nro comprobante</td>
                    <td class="header-table">Forma de pago</td>
                    <td class="header-table">Monto</td>
                    <td class="header-table">Fecha</td>
                    <td class="header-table">Hora</td>
                </tr>
                <% if (pagoMatricula) { %>
                <tr>
                    <td><%= pagoMatricula.num_comprobante %></td>
                    <td><%= pagoMatricula.forma_pago.description %></td>
                    <td>S/. <%= pagoMatricula.monto %></td>
                    <td>
                        <%= new Date(pagoMatricula.fecha).toLocaleDateString()
                        || "-" %>
                    </td>
                    <td><%= pagoMatricula.hora || "-" %></td>
                </tr>
                <% } else {%>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% } %>
            </table>
            <div>
                <u> Fecha: <%= fecha_inscripcion %> </u>
            </div>
            <div class="firma-container">
                <div class="firma">Estudiante</div>
                <div class="">
                    <img class="foto-firma" src="<%= sede.firma_director %>"></img>
                    <div class="firma">Director</div>
                </div>
                <div class="">
                    <img class="foto-firma" src="<%= sede.firma_coordinador %>"></img>
                    <div class="firma">Coordinador</div>
                </div>
                <div class="firma">Coordinador</div>
            </div>
        </div>
        <script>
            const anio = document.getElementById("year");
            year.innerText = `Año: ${new Date().getFullYear()}`;
        </script>
    </body>
</html>
